@page "/newproducer"
@using KrakowiakKozlowski.Games.BL;
@inject NavigationManager NavManager

<div class="wrapper">
    <h1>
        Add New Producer
    </h1>
    <form class='form' @onsubmit="HandleFormSubmit">
        <label for="producer-name">
            Name
        </label>
        <input id="producer-name" type="text" @bind-value="formModel.Name" required />

        <label for="producer-country">
            Country
        </label>
        <input id="producer-country" type="text"@bind-value="formModel.Country" required />

        <button 
            class="add-btn"
            type="submit"
        >
            Add Producer
        </button>
    </form>
</div>

@code {
    private FormModel formModel = new FormModel();

    BLC dataAccess;
    public NewProducer()
    {
        dataAccess = BLC.Instance;
    }

    private class FormModel
    {
        public string Name { get; set; }
        public string Country { get; set; }
    }
    private void HandleFormSubmit()
    {
        int newProducerId = producers.Max(p => p.Id) + 1;

        if (formModel.Name.Length <= 0 || formModel.Country.Length <= 0) 
        {
            return;
        }

        dataAccess.DAO.AddNewProducer(newProducerId, formModel.Name, formModel.Country);

        // Reset the form
        formModel = new FormModel();

        producers = dataAccess.DAO.GetAllProducers().ToList();
        NavManager.NavigateTo("/producers");
    }

    private List<KrakowiakKozlowski.Games.INTERFACES.IProducer> producers;

    protected override void OnInitialized()
    {
        producers = dataAccess.DAO.GetAllProducers().ToList();
    }
}