@page "/games"
@inject KrakowiakKozlowski.GamesCatalog.INTERFACES.IDAO DAO
@using GamesCatalog.Components
@inject NavigationManager NavManager

<PageTitle>
    Games Catalog - Games
</PageTitle>

<div class="wrapper">
    <div
        class='catalog-header'
    >
        <h1>Games</h1>
        <NavLink
            href="NewGame"
            style="text-decoration: none"
        >
            <div class='catalog-header-btn'>
                Add New Game
            </div>
        </NavLink>
    </div>
    <input
        type="text"
        placeholder="Search Games"
        class='catalog-input'
    />
    <div
        class="catalog-container"
    >
        @foreach (var game in games)
        {
            <div class="catalog-element">
                
                <NavLink
                    href="@($"game/{game.Id}")"
                    style="text-decoration: none; color: black"
                >
                    <span>@game.Title</span>
                </NavLink>
                <div>
                    <button 
                        class="catalog-element-btn edit"
                        @onclick="() => NavigateToEdit(game.Id)"
                    >
                        edit
                    </button>
                    <button 
                        class="catalog-element-btn remove"
                        @onclick="() => ShowRemoveConfirmation(game)"
                    >
                        remove
                    </button>
                </div>
            </div>
        }
        @if(games == null || games.Count == 0) {
            <div style='text-align: center; padding: 10px 0'>
                No producers to display
            </div>
        }
    </div>
    <NavLink
        href="/"
        style="text-decoration: none"
    >
        <span class='back-btn'>
            Go Back to <strong>Main Page</strong>
        </span>
    </NavLink>
</div>

@if(isConfirmModalOpen) {
    <ConfirmModal 
        OnConfirm="HandleConfirm"
        OnCancel="HandleCancel" 
    >
        Are you sure you want to remove <strong>"@selectedGame.Title"</strong>? 
    </ConfirmModal>
}

@code {
    private bool isConfirmModalOpen = false;
    private KrakowiakKozlowski.GamesCatalog.INTERFACES.IGame? selectedGame;

    List<KrakowiakKozlowski.GamesCatalog.INTERFACES.IGame> games;
    private void NavigateToEdit(int id)
    {
        NavManager.NavigateTo("/editgame/" + id);
    }
    private void ShowRemoveConfirmation(KrakowiakKozlowski.GamesCatalog.INTERFACES.IGame game)
    {
        selectedGame = game;
        isConfirmModalOpen = true;
    }
    private void HandleCancel()
    {
        // Reset the flag
        isConfirmModalOpen = false;
        selectedGame = null;
    }
    private void HandleConfirm()
    {
        if (selectedGame != null)
        {
            // TODO: Implement the logic to delete the selected producer
            DAO.RemoveGame(selectedGame.Id);
            
            // Refresh the producers list
            games = DAO.GetAllGames().ToList();
        }

        // Reset the flag and selected producer
        isConfirmModalOpen = false;
        selectedGame = null;
    }
    protected override void OnInitialized()
    {
        games = DAO.GetAllGames().ToList();
    }
}