@page "/games"

<PageTitle>
    Games Catalog - Games
</PageTitle>

<div class="wrapper">
    <div
        class='catalog-header'
    >
        <h1>Games</h1>
        <NavLink
            href="NewGame"
            style="text-decoration: none"
        >
            <div class='catalog-header-btn'>
                Add New Game
            </div>
        </NavLink>
    </div>
    <input
        type="text"
        placeholder="Search Games"
        class='catalog-input'
    />
    <div
        class="catalog-container"
    >
        <div
            class="catalog-element"
        >
            <span>
                Gta 5 - Rockstar games
            </span>
            <div>
                <div class="catalog-element-btn edit">
                    edit
                </div>
                <div class="catalog-element-btn remove">
                    remove
                </div>
            </div>
        </div>
        <div
            class="catalog-element"
        >
            <span>
                Gta 5 - Rockstar games
            </span>
            <div>
                <div class="catalog-element-btn">
                    edit
                </div>
                <div class="catalog-element-btn">
                    remove
                </div>
            </div>
        </div>
        <div
            class="catalog-element"
        >
            <span>
                Gta 5 - Rockstar games
            </span>
            <div>
                <div class="catalog-element-btn">
                    edit
                </div>
                <div class="catalog-element-btn">
                    remove
                </div>
            </div>
        </div>
    </div>
    <NavLink
        href="/"
        style="text-decoration: none"
    >
        <span class='back-btn'>
            Go Back to <strong>Main Page</strong>
        </span>
    </NavLink>
</div>