@page "/"

<PageTitle>
    Games Catalog - web application
</PageTitle>
<div class="wrapper">
    <h1>Games Catalog</h1>
    <i>
        Mikołaj Krakowiak 148076, Jakub Kozłowski 148157
    </i>
    <h2>
        Choose catalog you want to browse
    </h2>

    <div
        style="display: flex; gap: 10px"
    >
        <NavLink
            href="games"
            class="index-btn"
        >
            games
        </NavLink>
        <NavLink
            href="producers"
            class="index-btn"
        >
            producers
        </NavLink>
    </div>
</div>