@page "/newgame"
@inject KrakowiakKozlowski.GamesCatalog.INTERFACES.IDAO DAO
@inject NavigationManager NavManager

<div class="wrapper">
    <h1>
        Add New Game
    </h1>
    <form class='form' @onsubmit="HandleFormSubmit">
        <label for="game-title">
            Name
        </label>
        <input id="game-title" type="text" @bind-value="formModel.Title" required />

        <label for="game-releaseyear">
            Release Year
        </label>
        <input id="game-releaseyear" type="number" @bind-value="formModel.ReleaseYear" required />

        <label for="game-score">
            Score
        </label>
        <input id="game-score" type="number" @bind-value="formModel.Score" required />
        
        <label for="game-producer">
            game-producer
        </label>
        <select id="game-producer" @bind="formModel.ProducerId" required>
            @foreach (var producer in producers)
            {
                <option value="@producer.Id">@producer.Name</option>
            }
        </select>

        <label for="game-genre">
            Genre
        </label>
        <select id="game-genre" @bind="formModel.Genre" required>
            @foreach (var genre in Enum.GetNames(typeof(KrakowiakKozlowski.GamesCatalog.CORE.GameGenre)))
            {
                <option value="@genre">@genre</option>
            }
        </select>

        <button 
            class="add-btn"
            type="submit"
        >
            Add Game
        </button>

    </form>
</div>

@code {
    private FormModel formModel = new FormModel();

    private class FormModel
    {
        public string Title { get; set; }
        public int ReleaseYear { get; set; }
        public int Score { get; set; }
        public int ProducerId { get; set; }
        public string Genre { get; set; }
    }
    private KrakowiakKozlowski.GamesCatalog.INTERFACES.IGame newGame = new KrakowiakKozlowski.GamesCatalog.DAOMock.GameDAOMock();

    private void HandleFormSubmit()
    {
        int newGameId = games.Max(p => p.Id) + 1;

        newGame.Id = newGameId;

        newGame.Title = formModel.Title;
        newGame.ReleaseYear = formModel.ReleaseYear;
        newGame.Score = formModel.Score;
        newGame.Producer = producers.FirstOrDefault(p => p.Id == formModel.ProducerId);
        newGame.Genre = Enum.Parse<KrakowiakKozlowski.GamesCatalog.CORE.GameGenre>(formModel.Genre);
            
        if (!Validate()) 
        {
            return;
        }

        DAO.AddNewGame(newGame);

        // Reset the form
        formModel = new FormModel();

        games = DAO.GetAllGames().ToList();
        NavManager.NavigateTo("/games");
    }
    private bool Validate() 
    {
        if (newGame.Title.Length > 0 && newGame.Producer is not null) 
        {
            return true;
        }
        return false;
    }
    private List<KrakowiakKozlowski.GamesCatalog.INTERFACES.IProducer> producers;
    private List<KrakowiakKozlowski.GamesCatalog.INTERFACES.IGame> games;

    protected override void OnInitialized()
    {
        games = DAO.GetAllGames().ToList();
        producers = DAO.GetAllProducers().ToList();
    }
}